/* product list page */
.productheader {
  padding: 0;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-header-first {
  display: flex;
  width: 35%;
  justify-content: space-between;
}
.tablet-view-menu {
  display: none;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 1.3rem;
}

.product-header-first div {
  border: 1px solid black;
  border-radius: 3px;
  width: 70%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.product-header-last {
  display: flex;
  width: 13%;
  justify-content: space-between;
}
.input-field {
  font-size: 0.6rem;
  width: 100%;
  outline: none;
  border: none;
  background-color: inherit;
}
.input-field:focus {
  outline: none;
}

h5 {
  text-align: center;
}

.product-heading {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
}

.perfumes {
  border-bottom: 2px solid red;
}

.products-view {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
.item {
  flex: 1 1 calc(25% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: calc(25% - 10px);
  margin-bottom: 20px;
}

.pic-background {
  background-color: red;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item-operations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}

.item-operations div {
  border: 1px solid red;
  border-radius: 3px;
  font-size: 0.6rem;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.product-name {
  font-size: 0.6rem;
}

.product-price {
  font-size: 0.7rem;
  font-weight: 600;
}

.addToCart {
  font-size: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.product-footer {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.product-footer div {
  width: 40%;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  align-items: center;
}

.tablet-view-footer {
  display: none;
  background-color: red;
  height: 163px;
  border-radius: 120px 120px 0 0;
  padding: 30px 40px;
  justify-content: space-between;
}
.tablet-view-footer div {
  display: flex;
  flex-direction: column;
}
.follow {
  width: 20%;
  margin-left: 50px;
}
.vision {
  width: 40%;
}
.info,
.services,
.account {
  width: 15%;
}

/* responsiveness for bigger screens */

@media (min-width: 768px) {
  .productheader {
    background-color: red;
    padding: 40px;
  }
  .product-list {
    margin: 40px;
  }
  .menu-icon,
  .product-footer {
    display: none;
  }

  .input-field {
    padding: 10px;
    font-size: 1rem;
    border: none;
    width: 100%;
    background-color: inherit;
    color: white;
  }

  .product-header-first div {
    height: 40px;
    font-size: 2rem;
  }
  .product-header-last {
    width: 100px;
    font-size: 2rem;
  }
  .tablet-view-menu,
  .tablet-view-footer {
    display: block;
    display: flex;
  }
  h5 {
    font-size: 1.2rem;
  }
  .product-heading {
    font-size: 1rem;
    text-align: center;
  }
  .product-heading li {
    width: 22%;
  }
  .perfumes {
    border-bottom: none;
  }
  .item {
    flex: 1 1 calc(16.67% - 10px);
    max-width: calc(16.67% - 10px);
  }
  .pic-background {
    height: 200px;
  }
  .product-name {
    font-size: 0.8rem;
  }
  .product-price {
    font-size: 0.9rem;
    margin-top: 3px;
  }
  .item-operations div {
    font-size: 0.9rem;
    width: 50%;
  }
  .addToCart {
    font-size: 0.7rem;
    padding: 3px;
  }
}

@media (min-width: 1025px) {
  .item {
    flex: 1 1 calc(12.5% - 10px);
    max-width: calc(12.5% - 10px);
  }
}

@media (max-width: 350px) {
  .item {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}
